[Unit]
Description=Diddle FastAPI backend
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/py/diddle/diddle/backend
ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 7113
Restart=always
RestartSec=5
EnvironmentFile=/home/pi/py/diddle/diddle/.env

[Install]
WantedBy=multi-user.target
